# {{ ansible_managed }}

# An "In-Memory Queue" is created for remote logging.
$WorkDirectory /var/spool/rsyslog    # where to place spool files
$ActionQueueFileName queue      # unique name prefix for spool files
$ActionQueueMaxDiskSpace 1g     # spool space limit (use as much as possible)
$ActionQueueSaveOnShutdown on   # save messages to disk on shutdown
$ActionQueueType LinkedList     # run asynchronously
$ActionResumeRetryCount -1      # infinety retries if host is down

# Use default format
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# Setup SSL connection.
$DefaultNetstreamDriver gtls
$ActionSendStreamDriverMode 1
$ActionSendStreamDriverAuthMode x509/name
$ActionSendStreamDriverPermittedPeer logs.ghn.me
$DefaultNetStreamDriverCAFile {{ ca_bundle_cert_path }}

# Sending all logs to logs.ghn.me via TCP on 10514 using the default format.
*.* @@logs.ghn.me:10514
